<div class="row">
  <div class="col-md-12">
    <h2>Post details</h2>
    <% @table_posts.each do |row| %>

        <blockquote>
          <p>
            <%= row['content'] %>
          </p>
          <footer>
            Add at:<%= row['create_date'] %>
          </footer>
        </blockquote>
        <br />

    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h4>Comments</h4>
  </div>
</div>
<div class="row" style="background-color: #dff0d8; margin-left: 10px">

  <div class="col-md-10" >

    <%	 unless @comment_table.nil? %>
          <% @comment_table.each do |comment| %>
            <blockquote>
              <p>  <%= comment['content'] %></p>

              <footer style="font-size: 60%">  <%= comment['create_date'] %> - Author: <%= comment['name_commentator'].capitalize %></footer>
              </blockquote>
          <% end %>
    <% end %>
  </div>
  <div class="col-md-1">

  </div>
</div>

<div class="row">
  <div class="col-md-5">
    <h4>Add comments</h4>
    <form action="/details/<%= @post_id %>" method="post" role="form">
      <div class="form-group">
            <input name="name_commentator" class="form-control" type="text" placeholder="Enter you name" id="name_commentator" value="<%= @name_commentator %>"/>
      </div>
      <textarea name="comment" class="form-control" rows="5" placeholder="Type comment text here"></textarea>
      <br />
      <button type="submit" class="btn btn-primary">Add comment</button>
    </form>
  </div>
</div>